<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.torna.dao.mapper.SpaceUserMapper">

    <insert id="insertBatch">
        INSERT INTO `space_user`
        (
            `user_id`
            , `space_id`
            , `role_code`
            , `gmt_create`
            , `gmt_modified`
        )
        VALUES
        <foreach collection="items" item="data" separator="," >
            (
                #{data.userId}
                ,#{data.spaceId}
                ,#{data.roleCode}
                ,now()
                ,now()
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        is_deleted = 0
    </insert>

</mapper>