<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.torna.dao.mapper.UpgradeMapper">

    <update id="runSql">
        ${sql}
    </update>

    <select id="listColumnInfo" resultType="java.util.Map">
        SHOW COLUMNS FROM ${tableName}
    </select>


    <select id="listTableName" resultType="String">
        SHOW TABLES
    </select>

    <select id="listTableIndex" resultType="java.util.Map">
        show index from ${tableName}
    </select>

</mapper>