[class^="el-icon-ext-"], [class*=" el-icon-ext-"]
{
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
