.plTableBox {
  margin-bottom: 10px;
  .tree--btn-wrapper {
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
  }

  .pl-tree-cell {
    display: inline-block;
  }

  td, th {
    padding: 5px 0 !important;
  }
}
